<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- <arg name="rdda_ns" default="rdda_interface"> -->

  <!--
  <group ns="arg rdda_ns">
    <include file="$(find rdda_interface)/launch/rdda_interface.launch">
  </group>
  -->

  <!-- rdda_interface.launch -->
  <arg name="anti_alias_freq"	default="20.0"	doc="Loop rate at 20Hz for ROS applications. Note: This contracts with the control driver and is inchangeable."/>
  <arg name="max_vel" 		default="3.0"	doc="Velocity saturation of each joint."/>
  <arg name="max_eff"		default="5.0"	doc="Torque saturation of each joint."/>
  <arg name="stiff"		default="1.0"	doc="Stiffness of each joint. This value should be in the range of 0~20."/>
  <arg name="need_homing"	default="true"	doc="ALways do homing routine when launching the interface."/>
  <arg name="output"		default="screen" doc="Display output to screen or log file."/>
  <arg name="config_file"	default="$(find rdda_interface)/config/rdda_params.yaml" doc="YAML file that specifies ros parameters for robot initialization."/>

  <!-- load the rdda_interface node -->
  <node pkg="rdda_interface" type="rdda_interface_node" name="rdda_interface" output="$(arg output)"> 

    <!-- load the rdda_interface node parameters file.
         Note: Any parameters provided in this file will override those in yaml file, users should set the desired values in this launch file. -->
    <rosparam command="load"	file="$(arg config_file)"/>

    <!-- load parameters onto server using argument and default value above. -->
    <param name="anti_alias_freq"	value="$(arg anti_alias_freq)"		type="double"/>
    <param name="max_vel"		value="$(arg max_vel)"			type="double"/>
    <param name="max_eff"		value="$(arg max_eff)"			type="double"/>
    <param name="stiff"			value="$(arg stiff)"			type="double"/>
    <param name="need_homing"		value="$(arg need_homing)"		type="bool"/>

  </node>

<!--  <node pkg="rdda_interface" type="homing_server"	name="homing_server"></node> -->

</launch>
